* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.theme{
  transition: 1s all ease;
}
.light,body,html{
  background-color: #bbb;
  color: #000;
}
.dark,body,html{
  background-color: black;
  color: #bbb;
}
.container{
  width: 85vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}